# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
snapshots/1_1.mp4
snapshots/1_2.mp4
snapshots/1_3.mp4
snapshots/1_4.mp4
snapshots/234685770-b7d46782-a9b6-43d6-8e71-a1dee0ac3833.png
snapshots/234685781-f587b322-cb0d-4055-a4c2-1c865c43ac40.png
snapshots/234685785-f47518a4-be35-4173-91d1-a551f138a81c.png
snapshots/ecommerce-mcommerce-featured-image-5fd09a3a5ff2a.png
snapshots/Screen Shot 2023-05-05 at 9.54.34 PM.png
snapshots/Screen Shot 2023-05-05 at 9.54.40 PM.png
snapshots/Screen Shot 2023-05-05 at 9.54.49 PM.png
snapshots/Screen Shot 2023-05-05 at 9.55.43 PM.png
snapshots/Screen Shot 2023-05-05 at 9.56.22 PM.png
